*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Properties */
:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Roboto", cursive;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-white: #ffffff;
  --clr-black: #231f20;
  --clr-darkblue: #2c3946;
  --clr-steelblue: #4a83b7;
  --clr-cornflowerblue: #6699cc;
  --clr-darkgray: #93a8bd;
  --clr-slategray: #708090;
  --clr-gold: #ffe135;
  --clr-khaki: #fbdf8e;

  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */
html {
  scroll-behavior: smooth;
}
body {
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  line-height: 1.6;
  text-align: left;
}
section {
  height: 100vh;
  padding: 3em 2em;
}
img {
  display: block;
  max-width: 100%;
}
:focus {
  outline: 3px solid var(--clr-light);
  outline-offset: 3px;
}
.btn {
  display: inline-block;
  padding: 0.5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  transition: transform 20ms ease-in-out;
}
.btn:hover {
  transform: scale(1.1);
}

/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}
.section-title {
  font-weight: var(--fw-bold);
  font-family: var(--ff-primary);
  font-size: var(--fs-h2);
  padding-bottom: 6px;
}
.section-title-intro {
  font-weight: var(--fw-reg);
}
.section-subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

/* Header - Menu & Side NavBar */
.header-menu {
  z-index: 10;
  position: fixed;
  background-color: var(--clr-darkblue);
  color: var(--clr-white);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  height: 100%;
  width: 100%;
}
@media (min-width: 500px) {
  .header-menu {
    display: none;
  }
  .header-menu-toggle {
    display: none;
  }
}
.header-menu-list {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header-menu-link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}
.header-menu-link:hover {
  color: var(--clr-khaki);
}
.header-menu-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 2em;
  top: 2em;
  z-index: 1000;
}
.header-menu-open .header-menu {
  transform: translateX(0);
}
.header-menu-open .header-menu-toggle {
  position: fixed;
}
.header-menu-open .hamburger {
  transform: rotate(0.625turn);
}
.header-menu-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}
.header-menu-open .hamburger::after {
  opacity: 0;
}
.hamburger {
  display: block;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-white);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

.side-bar {
  position: fixed;
  width: 80px;
  top: 0;
  height: 100vh;
  z-index: 10;
  background-color: var(--clr-darkblue);
  overflow: hidden;
  transition: width 0.3s ease;
  cursor: pointer;
  box-shadow: 4px 0px 10px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
}
@media (max-width: 499px) {
  .side-bar {
    display: none;
  }
}
.side-bar:hover {
  width: 200px;
}
.side-bar-list {
  list-style-type: none;
  color: var(--clr-white);
}
.side-bar-list:first-child {
  padding-top: 2rem;
}
.side-bar-item {
  padding-bottom: 2rem;
  padding-left: 20px;
}
.side-bar-item img {
  width: 40px;
}
.side-bar-item a {
  position: relative;
  display: block;
  top: -34px;
  padding-left: 50px;
  padding-right: 15px;
  transition: all 0.3s ease;
  margin-left: 25px;
  margin-right: 10px;
  text-decoration: none;
  color: var(--clr-white);
  font-weight: var(--fw-reg);
}
.side-bar-item a:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  background: radial-gradient(
    circle at 94.02% 88.03%,
    var(--clr-cornflowerblue),
    transparent 100%
  );
  opacity: 0;
  transition: all 0.5s ease;
  z-index: -10;
}
.side-bar-item:hover a:after {
  opacity: 1;
}

/* Intro Section */
.intro {
  background-color: var(--clr-slategray);
  height: 100vh;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.intro img {
  width: 100%;
  opacity: 25%;
}
.intro h1 {
  color: var(--clr-darkblue);
  position: absolute;
  font-size: 50px;
  font-family: var(--ff-secondary);
}
.intro h1 span {
  color: rgb(196, 195, 195);
  font-size: 24px;
  font-family: var(--ff-primary);
}
.intro a {
  position: absolute;
  bottom: 20px;
  left: 50%;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: var(--clr-darkblue);
  font-size: var(--fs-body);
  font-weight: var(--fw-bold);
  text-decoration: none;
  transition: opacity 0.3s;
}
.intro a:hover {
  opacity: 0.5;
}
#home a {
  padding-top: 60px;
}
#home a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 30px;
  height: 50px;
  margin-left: -15px;
  border: 3px solid var(--clr-darkblue);
  border-radius: 50px;
  box-sizing: border-box;
}
#home a span::before {
  position: absolute;
  top: 5px;
  left: 50%;
  content: "";
  width: 6px;
  height: 12px;
  margin-left: -3px;
  background-color: var(--clr-darkblue);
  border-radius: 36%;
  -webkit-animation: sdb1 2s infinite;
  animation: sdb1 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb1 {
  0% {
    -webkit-transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb10 {
  0% {
    transform: translate(0, 0);
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    transform: translate(0, 20px);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media (min-width: 750px) {
  .intro h1 {
    font-size: 100px;
  }
  .intro h1 span {
    font-size: 48px;
  }
}

/* Projects Section */
.my-projects {
  background-color: var(--clr-darkgray);
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 200px 0px 200px 0px;
  height: 100%;
}
.section-title-projects {
  position: relative;
  background: none;
  border-style: none;
  text-align: center;
}
.card-container {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-items: center;
}
.card {
  width: 375px;
  height: 375px;
  margin: 10px 10px;
  background-color: var(--clr-white);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  font-family: var(--ff-primary);
  text-align: center;
}
.card .card-caption {
  color: var(--clr-white);
  height: 375px;
  border-radius: 15px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card .card-caption p {
  padding: 15px 30px;
  line-height: 1.2;
}
.card .card-caption p span {
  color: var(--clr-khaki);
  text-transform: capitalize;
}
.card .card-caption:hover {
  background-color: #00000080;
  opacity: 1;
  transition: .5s ease;
}
.card .card-caption .card-button {
  color: var(--clr-white);
  background-color: var(--clr-cornflowerblue);
  border: none;
  border-radius: 5px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
  font-size: 16px;
  padding: 10px 24px;
  text-decoration: none;
}
.card .card-caption .card-button:hover {
  background-color: var(--clr-steelblue);
  transition: .2s ease-in;
}


/* About Section */
.about-me {
  background-color: var(--clr-darkgray);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.section-subtitle-about {
  width: 50%;
  text-align: center;
  color: var(--clr-white);
}
.about-me-body {
  width: 50%;
  text-align: center;
}
.about-me-img {
  box-shadow: var(--bs);
  width: 50%;
}
@media (min-width: 1130px) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 50px 300px;
    grid-template-areas:
      "title img"
      "subtitle img"
      "text img";
    justify-items: center;
    align-content: center;
  }
  .section-title-about {
    width: 100%;
    text-align: left;
    grid-area: title;
    padding-left: 200px;
  }
  .section-subtitle-about {
    width: 100%;
    text-align: left;
    grid-area: subtitle;
    padding-left: 196px;
  }
  .about-me-body {
    width: 100%;
    text-align: left;
    grid-area: text;
    padding-left: 200px;
  }
  .about-me-img {
    grid-area: img;
    left: 400px;
    z-index: 2;
  }
}
/* Resume Section */
.my-resume {
  background-color: var(--clr-darkgray);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 10px;
}
.section-resume {
  text-align: left;
}
.collapsible {
  background-color: var(--clr-darkblue);
  color: var(--clr-white);
  cursor: pointer;
  padding: 18px;
  margin: 4px;
  border: none;
  text-align: left;
  font-size: 18px;
  font-family: var(--ff-primary);
  width: 70%;
}
.active,
.collapsible:hover {
  background-color: var(--clr-black);
}
.my-resume .content {
  padding: 10px 8px;
  display: none;
  background-color: #f1f1f1;
  width: 70%;
}

/* Contact Section */
.my-contact {
  background-color: var(--clr-darkgray);
  height: 100vh;
  text-align: center;
}
.my-contact a {
  color: #ffffff;
}
.socials {
  position: relative;
  width: 415px;
  left: 49%;
  margin-left: -200px;
  top: 50%;
  margin-top: -40px;
  border-radius: 80px;
  color: var(--clr-white);
}
.socials span {
  width: 200px;
  line-height: 80px;
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  margin-left: -100px;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  pointer-events: none;
}
.socials side-bar {
  font-size: 0;
}
.socials a {
  line-height: 80px;
  width: 80px;
  text-align: center;
  display: inline-block;
  background-color: #2c3946;
  color: #2c3946;
  overflow: hidden;
  opacity: 1;
  transition: all 0.3s ease-in-out;
  margin: 0 -20px;
  box-shadow: 3px 1px 3px rgba(0, 0, 0, 0.1);
}
.socials a:nth-child(1) {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  margin-left: 0;
}
.socials a:nth-child(1):hover {
  background-color: #000000;
}
.socials a:nth-child(2):hover {
  background-color: #3b5998;
}
.socials a:nth-child(3):hover {
  background-color: #3b5998;
}
.socials a:nth-child(4) {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-right: 0;
}
.socials a:nth-child(4):hover {
  background-color: #000000;
}
.socials:hover span,
.socials .hover span {
  opacity: 0;
}
.socials:hover a,
.socials.hover a {
  border-radius: 50%;
  margin: 0 10px;
  color: #ffffff;
  font-size: 28px;
}

/* Section Filler */
.section {
  background-color: var(--clr-darkgray);
  height: 40vh;
}

/* Footer Section */
.footer {
  z-index: 10;
  background-color: var(--clr-slategray);
  color: var(--clr-white);
  text-align: center;
  padding: 2em 0;
  font-size: var(--fs-body);
  font-weight: 600;
  font-style: italic;
}