*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Custom Properties */
:root {
  --ff-primary: "Montserrat", sans-serif;
  --ff-secondary: "Bebas Neue", cursive;

  --fw-reg: 300;
  --fw-bold: 900;

  --clr-yellow: #ffc163;
  --clr-navy: #26495c;
  --clr-darknavy: #113e5c;
  --clr-amber: #c66b3d;
  --clr-white: #ffffff;
  --clr-cream: #f5f0e1;
  --clr-black: #303030;
  --clr-grey: #3f3f3f;

  --fs-h1: 3.5rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

@media (min-width: 550px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/* General Styles */
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background: var(--clr-navy);
  color: var(--clr-navy);
  margin: 0;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
}

/* Hamburger Menu */
.logo1 {
  position: absolute;
  padding-left: 20px;
  padding-top: 8px;
  cursor: pointer;
  z-index: 10;
  background-color: var(--clr-navy);
  width: 100%;
  height: 11%;
}
.header-menu {
  z-index: 100;
  position: fixed;
  background-color: var(--clr-grey);
  color: var(--clr-cream);
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  height: 100%;
  width: 100%;
}
.header-menu-list {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}
.header-menu-link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  text-decoration: none;
}
.header-menu-link:hover {
  color: var(--clr-yellow);
}
.header-menu-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 2em;
  top: 2.7em;
  z-index: 1000;
}
.header-menu-open .header-menu {
  transform: translateX(0);
}
.header-menu-open .header-menu-toggle {
  position: fixed;
}
.header-menu-open .hamburger {
  transform: rotate(0.625turn);
}
.header-menu-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}
.header-menu-open .hamburger::after {
  opacity: 0;
}
.hamburger {
  display: block;
  position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-white);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}
.hamburger::before,
.hamburger::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
}
.hamburger::before {
  top: 6px;
}
.hamburger::after {
  bottom: 6px;
}

@media (min-width: 1001px) {
  .header-menu {
    display: none;
  }
  .header-menu-toggle {
    display: none;
  }
  .logo1 {
    display: none;
  }
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  background-color: var(--clr-cream);
  margin-bottom: 40px;
}

.header a {
  text-decoration: none;
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  color: var(--clr-black);
  padding: 0px 10px;
}

.header .nav-left {
  float: left;
  padding: 45px 40px;
}

.header .nav-right {
  float: right;
  padding: 45px 40px;
}

.logo {
  position: relative;
  left: -100px;
  top: 18px;
}

@media (max-width: 1000px) {
  .header {
    display: none;
  }
  .main-container {
    padding-top: 100px;
  }
}

/* Responsiveness - Max width 1000px */
@media (max-width: 1000px) {
}

/* Clothing Carousel */
.main-container {
  width: 100%;
  max-height: 600px;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

input[type="radio"] {
  display: none;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.card {
  position: absolute;
  text-align: center;
  width: 520px;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform 0.4s ease;
  padding-bottom: 700px;
}

.card h1 {
  color: var(--clr-cream);
  text-align: center;
  font-size: var(--fs-h2);
}

.card img {
  width: 500px;
  height: 600px;
  border-radius: 10px;
  -o-object-fit: cover;
  object-fit: cover;
  cursor: pointer;
  box-shadow: var(--bs);
}

.card p {
  color: var(--clr-cream);
  text-align: center;
}

.card .shop {
  background-color: var(--clr-darknavy);
  border-color: var(--clr-white);
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  color: var(--clr-white);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  padding: 15px 32px;
  top: 50px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
}

/* Left Item */
#item-1:checked ~ .cards #piece3,
#item-2:checked ~ .cards #piece1,
#item-3:checked ~ .cards #piece2 {
  transform: translateX(-300px) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}
#item-1:checked ~ .cards #piece3 h1,
#item-2:checked ~ .cards #piece1 h1,
#item-3:checked ~ .cards #piece2 h1,
#item-1:checked ~ .cards #piece3 p,
#item-2:checked ~ .cards #piece1 p,
#item-3:checked ~ .cards #piece2 p,
#item-1:checked ~ .cards #piece3 .button,
#item-2:checked ~ .cards #piece1 .button,
#item-3:checked ~ .cards #piece2 .button {
  opacity: 0;
  z-index: 0;
}

/* Right Item */
#item-1:checked ~ .cards #piece2,
#item-2:checked ~ .cards #piece3,
#item-3:checked ~ .cards #piece1 {
  transform: translateX(300px) scale(0.8);
  opacity: 0.6;
  z-index: 0;
}
#item-1:checked ~ .cards #piece2 h1,
#item-2:checked ~ .cards #piece3 h1,
#item-3:checked ~ .cards #piece1 h1,
#item-1:checked ~ .cards #piece2 p,
#item-2:checked ~ .cards #piece3 p,
#item-3:checked ~ .cards #piece1 p,
#item-1:checked ~ .cards #piece2 .button,
#item-2:checked ~ .cards #piece3 .button,
#item-3:checked ~ .cards #piece1 .button {
  opacity: 0;
  z-index: 0;
}

/* Main Item */
#item-1:checked ~ .cards #piece1,
#item-2:checked ~ .cards #piece2,
#item-3:checked ~ .cards #piece3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

/* Responsiveness - Max width 550px */
@media (max-width: 550px) {
  #item-1:checked ~ .cards #piece1,
  #item-2:checked ~ .cards #piece2,
  #item-3:checked ~ .cards #piece3 {
    transform: scale(0.5);
  }
}
/* Responsiveness - Max width 1000px */
@media (max-width: 1000px) {
  #item-1:checked ~ .cards #piece3 img,
  #item-2:checked ~ .cards #piece1 img,
  #item-3:checked ~ .cards #piece2 img {
    opacity: 0;
  }
  #item-1:checked ~ .cards #piece2 img,
  #item-2:checked ~ .cards #piece3 img,
  #item-3:checked ~ .cards #piece1 img {
    opacity: 0;
  }
}

/* Call to Action - Shop Now and Socials */
.cta-container {
  height: 100px;
  position: relative;
  top: 860px;
}

.socials {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.socials a {
  padding: 0px 6px;
}

/* Item 1 Styling */
.item-wrapper {
  color: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 200px;
}
.item-wrapper .item-img {
  background-color: var(--clr-cream);
  box-shadow: var(--bs);
}
.item-wrapper .item-title {
  padding-top: 10px;
}
.item-wrapper .item-description {
  padding: 10px 40px;
  text-align: center;
}
.item-wrapper .size-title {
  padding-bottom: 10px;
  text-align: left;
}
.item-wrapper .list-size {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 40%;
}
.item-wrapper .list-size a {
  color: var(--clr-white);
  text-decoration: none;
}
.item-wrapper .list-size a:hover {
  color: var(--clr-yellow);
}
.item-wrapper .buy-now {
  width: 36%;
  background-color: var(--clr-darknavy);
  border-color: var(--clr-white);
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  color: var(--clr-white);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  padding: 15px 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  text-align: center;
}
.item-wrapper .buy-now:hover {
  background-color: var(--clr-white);
  border-color: var(--clr-darknavy);
  color: var(--clr-yellow);
}
.item-wrapper .add-to-cart {
  width: 36%;
  background-color: var(--clr-white);
  border-style: solid;
  border-width: 2px;
  border-radius: 30px;
  color: var(--clr-darknavy);
  font-family: var(--ff-primary);
  font-weight: var(--fw-bold);
  padding: 15px 10px;
  top: 10px;
  font-size: 20px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  text-align: center;
}
.item-wrapper .add-to-cart:hover {
  background-color: var(--clr-darknavy);
  border-color: var(--clr-white);
  color: var(--clr-yellow);
}
@media (min-width: 1001px) {
  .item-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 160px 20px 40px 80px 80px;
    grid-template-areas:
      "item_title img"
      "item_description img"
      "size_title img"
      "list_size img"
      "buy_now img"
      "add_to_cart img";
    justify-items: center;
    align-content: center;
    padding-top: 200px;
  }
  .item-title {
    width: 100%;
    text-align: left;
    grid-area: item_title;
    padding-left: 32.5%;
  }
  .item-description {
    width: 80%;
    text-align: left;
    grid-area: item_description;
    padding-left: 200px;
  }
  .size-title {
    width: 100%;
    text-align: left;
    grid-area: size_title;
    padding-left: 32.5%;
  }
  .list-size {
    width: 100%;
    text-align: left;
    grid-area: list_size;
  }
  .buy-now {
    width: 100%;
    text-align: left;
    grid-area: buy_now;
    padding-left: 200px;
  }
  .add-to-cart {
    width: 100%;
    text-align: left;
    grid-area: add_to_cart;
    padding-left: 200px;
  }
  .item-img {
    grid-area: img;
  }
}

.cta {
  height: 200px;
  position: relative;
}
.cta-socials {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.cta-socials a {
  padding: 0px 6px;
}
