body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  background-color: #231f20;
}
nav h1 {
  color: rgb(226, 226, 226);
  border: 2px solid;
  display: inline-block;
  margin: 25px;
  padding: 5px 10px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  font-family: "Roboto", sans-serif;
}

.nav-links {
  display: inline-flex;
  justify-content: space-around;
  width: 20%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: rgb(226, 226, 226);
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.nav-links a:hover {
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  text-align: center;
  color: #fbdf8e;
}

/* About Section */
.about {
  color: #000;
  height: 75%;
  width: 75%;
  background-color: #fff;
  padding: 10px;
  margin: auto;
}
.about img {
  float: left;
  margin-right: 10px;
  margin-bottom: 50px;
}
/* End of About Section */

/* Gallery Section */
.gallery {
  max-width: 900px;
  max-height: 650px;
  display: flex;
  flex-wrap: wrap;
  margin: auto auto;
}

.card {
  height: 315px;
  width: 250px;
  border-radius: 10px;
  transition: background 0.5s;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: auto;
  margin-left: auto;
}

.card a {
  text-decoration: none;
}

.card1 {
  background: url(img/cards/computer\ engineering.jpg) center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url(img/cards/computer\ engineering.jpg) left center no-repeat;
  background-size: 600px;
}
.card1 h2,
h3 {
  opacity: 0;
}
.card1 .fa {
  opacity: 1;
}

.card2 {
  background: url(img/cards/electrical\ engineering.jpg) center center no-repeat;
  background-size: 300px;
}
.card2:hover {
  background: url(img/cards/electrical\ engineering.jpg) left center no-repeat;
  background-size: 600px;
}
.card2 h2,
h3 {
  opacity: 0;
}
.card2 .fa {
  opacity: 1;
}

.card3 {
  background: url(img/cards/mechanical\ engineering.jpg) center center no-repeat;
  background-size: 300px;
}
.card3:hover {
  background: url(img/cards/mechanical\ engineering.jpg) left center no-repeat;
  background-size: 600px;
}
.card3 h2,
h3 {
  opacity: 0;
}
.card3 .fa {
  opacity: 1;
}

.card4 {
  background: url(img/cards/civil\ engineering.jpg) center center no-repeat;
  background-size: 300px;
}
.card4:hover {
  background: url(img/cards/civil\ engineering.jpg) left center no-repeat;
  background-size: 600px;
}
.card4 h2,
h3 {
  opacity: 0;
}
.card4 .fa {
  opacity: 1;
}

.card5 {
  background: url(img/cards/aerospace\ engineering.jpg) center center no-repeat;
  background-size: 300px;
}
.card5:hover {
  background: url(img/cards/aerospace\ engineering.jpg) left center no-repeat;
  background-size: 600px;
}
.card5 h2,
h3 {
  opacity: 0;
}
.card5 .fa {
  opacity: 1;
}

.card6 {
  background: url(img/cards/chemical\ engineering.jpg) center center no-repeat;
  background-size: 300px;
}
.card6:hover {
  background: url(img/cards/chemical\ engineering.jpg) left center no-repeat;
  background-size: 600px;
}
.card6 h2,
h3 {
  opacity: 0;
}
.card6 .fa {
  opacity: 1;
}

.card7 {
  background: url(img/cards/petroleum\ engineering.jpg) center center no-repeat;
  background-size: 300px;
}
.card7:hover {
  background: url(img/cards/petroleum\ engineering.jpg) left center no-repeat;
  background-size: 600px;
}
.card7 h2,
h3 {
  opacity: 0;
}
.card7 .fa {
  opacity: 1;
}

.card8 {
  background: url(img/cards/agricultural\ engineering.jpg) center center
    no-repeat;
  background-size: 300px;
}
.card8:hover {
  background: url(img/cards/agricultural\ engineering.jpg) left center no-repeat;
  background-size: 600px;
}
.card8 h2,
h3 {
  opacity: 0;
}
.card8 .fa {
  opacity: 1;
}

.card9 {
  background: url(img/cards/nuclear\ engineering.jpg) center center no-repeat;
  background-size: 300px;
}
.card9:hover {
  background: url(img/cards/nuclear\ engineering.jpg) left center no-repeat;
  background-size: 600px;
}
.card9 h2,
h3 {
  opacity: 0;
}
.card9 .fa {
  opacity: 1;
}

.border {
  height: 305px;
  width: 240px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
  color: white;
}

.border:hover {
  border: 2px solid white;
}

.border:hover h2 {
  font-size: 26px;
  text-align: center;
  color: white;
  margin: 20px;
  padding: 5px 5px;
  opacity: 1;
  transition: opacity 1s;
  background-color: black;
  border-radius: 10px;
}

.border h3 {
  font-size: 20px;
  text-align: right;
  color: white;
  margin: 160px 20px;
  padding: 5px 5px;
  background-color: black;
  border-radius: 10px;
}

.border:hover h3 {
  opacity: 1;
  transition: opacity 1s;
}
/* End of Gallery Section */

/* About Section */
.about-section {
  padding: 20px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.about-card {
  margin-left: auto;
  margin-right: auto;
  padding: 20px 0;
  width: 50%;
  text-align: center;
}

.about-container {
  padding: auto;
  color: white;
}

.about-container h2,
p {
  margin: 8px 0;
}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: black;
  background-color: white;
  text-align: center;
  cursor: pointer;
  width: 50%;
}

.button:hover {
  background-color: #474e5d;
  color: white;
}
/* End of About Section */

/* Calculator Section */
.calculator {
  position: fixed;
  display: inline-block;
  padding-left: 50px;
  z-index: 10;
}

.calcbtn {
  background-color: #3498db;
  color: white;
  padding: 16px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}

.calcbtn:hover,
.calcbtn:focus {
  background-color: #2980b9;
}

.calc-content {
  display: none;
  background-color: rgb(201, 201, 201);
  padding: 15px;
  width: 550px;
  font-size: 20px;
  border-radius: 10px;
  z-index: 1;
}

.show {
  display: block;
}

.calc-content button {
  border-radius: 25px;
  margin-top: 4px;
  height: 35px;
  border-style: solid;
  border-width: 2px;
}

.calc-content button:hover {
  cursor: pointer;
  background-color: rgb(182, 178, 178);
}
.calc-content button:active {
  background-color: rgb(136, 136, 136);
}

#output {
  text-align: right;
  color: white;
  background-color: rgb(71, 71, 71);
  border-radius: 10px;
  padding: 5px 5px;
}

.first-row button {
  width: 50px;
}
.second-row button {
  width: 50px;
}
.third-row button {
  width: 50px;
}
.fourth-row button {
  width: 50px;
}
.fifth-row button {
  width: 50px;
}
/* End of Calculator Section */

/* Formula Cards Section */
.center {
  align-items: center;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -35%);
  padding: 50px 0px;
}
.list {
  border-radius: 4px;
  overflow: hidden;
}
.list .card {
  cursor: pointer;
  min-width: 700px;
  margin-bottom: 10px;
  perspective: 600px;
  transition: all 0.1s;
  background-color: #353544;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 90px;
}
.list .card.open {
  padding: 30px;
  height: auto;
}
.list .card.open .bottom {
  margin-top: 10px;
  height: 100%;
  overflow: visible;
}
.list .card .info {
  transition: all 0.2s;
  min-width: 650px;
  padding: 0px 30px;
  font-family: "Montserrat";
  font-weight: bold;
}
.list .card .info .title {
  font-size: 1.2em;
  color: #fff;
  letter-spacing: 1px;
}
.list .card .bottom {
  height: 0px;
  overflow: hidden;
  width: 650px;
  font-size: 12px;
  color: #777;
  font-weight: normal;
}
/* End of Formula Cards Section */
